<div class="col-md-3 mx-auto">
<h1>Create Category</h1>
    <form action="/create-category/0" method="post" >
         <div>
             <div class="form-floating">
                <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea" name="name" id="validationDefault01" required></textarea>
                <label for="floatingTextarea" >Name category</label>
             </div>
        </div>
         <div class="d-grid gap-2 col-2 mx-auto">
            <input type="hidden" name="_method" value="POST">
            <button type="submit"  class="btn btn-outline-dark justify-content-between">Save</button>
         </div>
    </form>
</div>